<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>M001-Vue2.0</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="app">
            <p v-text="text"></p>
            <p v-html="html"></p>
            <p v-if="isshow">SHOW</p>
            <p v-else>十三</p>
            <p>v-for 解决的是模板循环渲染的问题</p>
            <p v-show="!isshow">Done</p>
            <p> v-text 只能渲染纯文本,浏览器不会对其进行html解析</p>
            <p> v-html 用于输出html,浏览器会解析html</p>
            <p> v-if 在浏览器上表现为整个DOM节点不会被渲染, v-show的呈现相当于给DOM节点添加CSS属性display:none v-else则类似JS语法的if else判断语句,紧跟v-if后面</p>
            <p>v-on 监听事件,可以用v-on指令监听DOM事件来触发一些方法函数</p>
            <div v-for="(item,index) in list">{{index}}{{item}}</div>
            <p>数字:{{ count }}</p>
            <button :click=""add">加</button>
            <input ="username" :keyup.enter="login" />
            <h2>Checkbox</h2>
            <label for="apple">苹果</label>
            <input type="checkbox=" v-model="fruit.apple" value="apple" >
            <label for="banana">香蕉</label>
            <input type="checkbox" v-model="fruit.banana" value="banana">
            {{ fruit }}
        </div>
        <p>Demo</p>
        
        <script src="" async defer></script>
    </body>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script>
        window.onload = function (param) {
            new Vue({
                el: '#app',
                data: {
                    text: 'Hello',
                    html:'<p>001</p>',
                    isshow: false,
                    list:['A','B','C'],
                    fruit: {
                        apple: true,
                        banana: false
                    }
                },
                method: {
                    add: function name(params) {
                        this.count ++
                        
                    },
                    login: function (param) {  }
                    console.log(this.username)
                }
            })
          }
    </script>
</html>